@model ApplicationCore.Models.CastDetailsModel

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.ProfilePath" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-md-9">
            <h2>@Model.Name</h2>
            <p><strong>Gender:</strong> @Model.Gender</p>
            <p><strong>TMDb URL:</strong> <a href="@Model.TmdbUrl" target="_blank">@Model.TmdbUrl</a></p>
            <h4>Movies</h4>
            <ul class="list-group">
                @foreach (var movie in Model.Movies)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">
                            @movie.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>