@using ApplicationCore.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplicationCore.Entities.Movie

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row row-cols-3">
        <div class="col"><img src=@Model.PosterUrl class="img-fluid" alt=@Model.PosterUrl /></div>
        <div class="col">
            <div class="row"><p class="text-start fw-bold fs-1">@Model.Title</p></div>
            <div class="row">
                <p>
                    Release Date: @Model.ReleaseDate.ToString("yyyy-MM-dd")
                </p>
                <p>
                    Tmdb: <a href="@Model.TmdbUrl" target="_blank">@Model.TmdbUrl</a>
                </p>
                <p>
                    Imdb: <a href="@Model.ImdbUrl" target="_blank">@Model.ImdbUrl</a>
                </p>
            </div>
            <div class="row">
                <p>
                    Overview: @Model.OverView
                </p>
            </div>
            <br>
            <div class="row"> 
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item border-0">
                        Genre:
                    </li>
                    @foreach(MovieGenre movieGenre in Model.MovieGenres)
                    {
                        <li class="list-group-item border-0">
                            @movieGenre.Genre.Name
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BuyModal">
                        Buy
                    </button>
                    <div class="modal fade" id="BuyModal" tabindex="-1" aria-labelledby="BuyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="BuyModal">Purchase Movie</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Price: </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReviewModal">
                       Review
                    </button>
                    <div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="ReviewModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ReviewModal">Review Movie</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row row-cols-3">
                                        <div class="btn-group col-4">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Rating
                                            </button>
                                            <ul class="dropdown-menu">
                                                @for(int i = 1; i <= 10; i++)
                                                {
                                                    <li><a class="dropdown-item">@i</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <textarea class="form-control" placeholder="Leave your review here" style="height: 200px"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <br />
            <hr />
                <p class="fs-4">Trailers of @Model.Title</p>
            <br />
            <ul class="list-group">
                @if(Model.Trailers!=null){
                    foreach(Trailer trailer in Model.Trailers)
                    {
                        <li class="list-group-item border-0">
                            <i class="bi bi-youtube me-2"></i>
                            <a href="@trailer.TrailerUrl" target="_blank">
                                 @trailer.Name
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">Trailers not available</li>
                }
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
    <br />
    <br />
    <hr />
    <p class="fs-4">Casts of @Model.Title</p>
    <div class="row row-cols-auto">
        @foreach(MovieCast movieCast in Model.MovieCasts)
        {
            <div class="col">
                <partial name="_CastDetailCard" model="@movieCast.Cast" />
            </div>
        }
    </div>
</div>